[submodule "themes/beg"]
	path = themes/beg
	url = https://github.com/dim0627/hugo_theme_beg.git
[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = https://github.com/alexurquhart/hugo-geo.git
